{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Паровой Узел Связи{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="steam-header">
        <h1>⚙️ ИНФОРМАЦИОННЫЙ ПРОВОДНИК ФОРУМА ⚙️</h1>
        <div class="user-panel">
            {% if user.is_authenticated %}
                Изобретатель: <strong>{{ user.username }}</strong> | <a href="/admin/logout/">Загасить котел (Выйти)</a>
            {% else %}
                <a href="/admin/login/">Разжечь котел (Войти)</a>
            {% endif %}
        </div>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>